<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Password Generator</title>
    <style>
        .content{
            
            margin-top: 200px;
            margin-left: 200px;
            margin-right: 200px;
            padding-left: 200px;
        }
    </style>
</head>

<body>
    <div class="container content">
        <div class="row">
            <div class="col-12 col-sm-6 d-flex justify-content-center">
                <div class="card align-self-center">
                    <div class="card-header bg-info text-white">
                        <h2>Your password</h2>
                    </div>
                    <div class="card-body">
                        <h2 class="card-text">Password: <strong>{{ password }}</strong></h2>
                        <a href="{% url 'home' %}" role="button" class="btn btn-info align-self-center">Home</a>
                    </div>
                </div>

            </div>
        </div>


    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        crossorigin="anonymous"></script>



</body>

</html>